h1= title

.addNew
  a.btn(href="/add-event") Add New Event

.currentEvents
  - each event in events
    .event
      h2= event.title
      p.event_descr= event.description
      p.event_date=  event.when
      //- p.event_time  ##12:00 pm##
      a.event_edit(href="#edit) Edit Event
      a.event_delete(href="delete-event")  Delete Event

