html
  head
    title=title
    link(rel='stylesheet', href='/styles/default.css')
    script(src='/scripts/general.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
  body
    header
    div.mainContent
      section#wrapper!= body
    footer
